<launch>
  	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="yaw" default="0.0"/>
	<arg name="robot_name" default="car"/>
  
	<param name="robot_description" command="$(find xacro)/xacro '$(find car_4ws_4wd)/urdf/car_4ws_4wd.urdf.xacro' robot_name:='$(arg robot_name)'" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -x $(arg x) -y $(arg y) -Y $(arg yaw) -model $(arg robot_name) -param /$(arg robot_name)/robot_description "/>

</launch>